@import '~@angular/material/theming';

// ===============================
// Main Palette Color Definition
// ===============================
// define a real custom palette (using http://mcg.mbitson.com)
$palette-primary: (
  50 : #eaf1e6,
  100 : #c9ddc1,
  200 : #a6c698,
  300 : #82af6e,
  400 : #679e4f,
  500 : #4c8d30,
  600 : #45852b,
  700 : #3c7a24,
  800 : #33701e,
  900 : #245d13,
  A100 : #aaff96,
  A200 : #80ff63,
  A400 : #57ff30,
  A700 : #43ff16,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

$palette-accent: (
  50 : #e5ecf2,
  100 : #becfde,
  200 : #93afc8,
  300 : #678eb1,
  400 : #4776a1,
  500 : #265e90,
  600 : #225688,
  700 : #1c4c7d,
  800 : #174273,
  900 : #0d3161,
  A100 : #96beff,
  A200 : #639eff,
  A400 : #307fff,
  A700 : #166fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$color-primary: mat-palette($palette-primary, 900);
$color-accent: mat-palette($palette-accent, 700);

// Design System Primary color scheme
$primary-theme: mat-light-theme($color-primary, $color-accent);


