@import '~@angular/material/theming';

// ===============================
// Main Palette Color Definition
// ===============================
// define a real custom palette (using http://mcg.mbitson.com)
$palette-primary: (50: #E3F1F7,
  100: #BADBED,
  200: #91C5E2,
  300: #6AAFD7,
  400: #4D9ED0,
  500: #328FCA,
  600: #2782BE,
  700: #1b71ac,
  800: #11619B,
  900: #00457C,
  A100: #BADBED,
  A200: #91C5E2,
  A400: #4D9ED0,
  A700: #1B71AC,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ));

$palette-accent: (50: #FEF8E2,
  100: #FCECB5,
  200: #FBE086,
  300: #FAD557,
  400: #F9CA36,
  500: #F8C123,
  600: #F8B31E,
  700: #F7A11A,
  800: #F69117,
  900: #F57313,
  A100: #FCECB5,
  A200: #FBE086,
  A400: #F9CA36,
  A700: #F7A11A,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ));

$color-primary: mat-palette($palette-primary, 900);
$color-accent: mat-palette($palette-accent, 700);

// Design System Primary color scheme
$primary-theme: mat-light-theme($color-primary, $color-accent);


